.button {
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-font-family: Futura;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.chart {
    -fx-padding: 10px 20px 10px 10px;
}
.chart-content {
    -fx-padding: 10px 20px 10px 10px;
}

.chart-title {
  -fx-text-fill: #4682b4;
  -fx-font-size: 1.6em;
}

.chart-legend {
   -fx-background-color:  transparent;
   -fx-padding: 0px;
   -fx-font-family: Futura;
   -fx-font-color: #000000;
}
 
.chart-legend-item-symbol{
   -fx-background-radius: 0;
}
 
.chart-legend-item{
    -fx-text-fill: #191970;
}

.scroll-pane{
  -fx-hbar-policy: never;
  -fx-vbar-policy: never;
}

#axis {   
    -fx-font-family: Futura;
    -fx-font-size: 10pt; 
}

#buttonBox {
  -fx-background-color: #ADD8E6;
  -fx-background-insets: 0px;
  -fx-alignment: center;
  -fx-spacing: 10px;
  -fx-font-family: Futura;
  -fx-font-size: 10pt; 
}

#header {
  -fx-background-color: #ADD8E6;
  -fx-background-insets: 0px;
  -fx-alignment: center;
  -fx-font-family: Futura;
  -fx-font-size: 10pt; 
}

#headerText {
  -fx-font-family: Futura;
  -fx-font-size: 10pt;
}

#side {
  -fx-background-color: #ADD8E6;
}

.default-color0.chart-series-line { -fx-stroke:  #008000, white; }
.default-color1.chart-series-line { -fx-stroke:  #FF0000, white; }
.default-color2.chart-series-line { -fx-stroke:  #FFFF00, white; }

.default-color0.chart-line-symbol { -fx-background-color: #008000, white; }
.default-color1.chart-line-symbol { -fx-background-color: #FF0000, white; }
.default-color2.chart-line-symbol { -fx-background-color: #FFFF00, white; }